:root {
  --black: black;
  --peach-puff-2: #fddfcb;
  --burntsienna: #d5845d;
  --peach-puff: #fbc3a6;
  --rosy-brown: #c497a2;
  --light-pink: #eaa9b1;
}

.w-backgroundvideo-backgroundvideoplaypausebutton:focus-visible {
  outline-offset: 2px;
  border-radius: 50%;
  outline: 2px solid #3b79c3;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  color: #000;
  font-family: Forum, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

p {
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

li {
  margin-bottom: .25rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.utility-page_component {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility-page_form-block {
  max-width: 20rem;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_image {
  margin-left: auto;
  margin-right: auto;
}

.global-styles {
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.margin-custom2 {
  margin: 2.5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-xsmall {
  margin: .5rem;
}

.padding-xhuge {
  padding: 8rem;
}

.margin-custom1 {
  margin: 1.5rem;
}

.padding-0 {
  padding: 0;
}

.padding-xxhuge {
  padding: 12rem;
}

.padding-huge {
  padding: 6rem;
}

.margin-large {
  margin: 3rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-custom3 {
  padding: 3.5rem;
}

.padding-large {
  padding: 3rem;
}

.margin-tiny {
  margin: .125rem;
}

.padding-small {
  padding: 1rem;
}

.padding-custom2 {
  padding: 2.5rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.padding-custom1 {
  padding: 1.5rem;
}

.margin-huge {
  margin: 6rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-xsmall {
  padding: .5rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.padding-xxsmall {
  padding: .25rem;
}

.margin-xhuge {
  margin: 8rem;
}

.padding-tiny {
  padding: .125rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.margin-0 {
  margin: 0;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.form_checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.form_checkbox-icon {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  background-size: 90%;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.fs-styleguide_background {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .1);
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.fs-styleguide_spacing {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(to top, rgba(0, 115, 230, .1), rgba(255, 255, 255, 0));
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: stretch;
  display: grid;
  position: relative;
}

.icon-1x1-small {
  width: 1rem;
  height: 1rem;
  flex: none;
}

.overflow-auto {
  overflow: auto;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.fs-styleguide_item {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: start;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.fs-styleguide_item-header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 2rem;
}

.fs-styleguide_heading-large {
  font-size: 6rem;
}

.background-color-black {
  color: #f5f5f5;
  background-color: #000;
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-color-black {
  color: #000;
}

.text-color-grey {
  color: gray;
}

.fs-styleguide_2-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fs-styleguide_2-col.is-align-start {
  align-items: start;
}

.form_message-success {
  padding: 1.25rem;
}

.fs-styleguide_row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-style-h3 {
  font-family: Passion One, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.text-rich-text h1, .text-rich-text h2, .text-rich-text h3, .text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h5, .text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text p {
  margin-bottom: 1rem;
}

.text-rich-text ul, .text-rich-text ol {
  margin-bottom: 1.5rem;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-small {
  height: 1rem;
}

.icon-1x1-medium {
  width: 2rem;
  height: 2rem;
}

.heading-style-h1 {
  font-family: Passion One, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.text-weight-normal {
  font-weight: 400;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.text-color-white {
  color: #fff;
}

.text-style-italic {
  font-style: italic;
}

.text-weight-medium {
  font-weight: 500;
}

.overflow-hidden {
  overflow: hidden;
}

.fs-styleguide_section-header {
  width: 100%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid #000;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: grid;
}

.text-size-tiny {
  font-size: .75rem;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.fs-styleguide_1-col {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.overflow-visible {
  overflow: visible;
}

.fs-styleguide_empty-box {
  z-index: -1;
  height: 3rem;
  min-width: 3rem;
  background-color: rgba(0, 115, 230, .1);
  border: 1px dashed #0073e6;
  position: relative;
}

.text-weight-light {
  font-weight: 300;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.fs-styleguide_4-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-regular {
  font-size: 1rem;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-align-right {
  text-align: right;
}

.text-weight-bold {
  font-weight: 700;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.fs-styleguide_item-wrapper {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.fs-styleguide_header-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: start;
  display: grid;
}

.background-color-white {
  background-color: #fff;
}

.text-style-muted {
  opacity: .6;
}

.text-size-small {
  font-size: .875rem;
}

.heading-style-h4 {
  font-family: Passion One, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.form_radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  border-width: .25rem;
}

.form_radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.text-style-nowrap {
  white-space: nowrap;
}

.text-align-left {
  text-align: left;
}

.background-color-grey {
  background-color: #f2f2f2;
}

.form_input {
  min-height: 3rem;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: .75rem;
  padding: .5rem 1rem;
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
}

.heading-style-h6 {
  font-family: Passion One, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.fs-styleguide_3-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  display: grid;
}

.fs-styleguide_3-col.is-align-start {
  align-items: start;
}

.text-style-link {
  color: #000;
  border: 1px #000;
  text-decoration: none;
}

.text-size-large {
  font-size: 1.5rem;
}

.fs-styleguide_header {
  background-color: rgba(0, 0, 0, .05);
}

.heading-style-h2 {
  font-family: Passion One, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.fs-styleguide_label {
  color: #fff;
  background-color: #0073e6;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .25rem .75rem;
  font-weight: 600;
  line-height: 1.4;
  display: flex;
}

.fs-styleguide_label.is-tag {
  background-color: #be4aa5;
}

.fs-styleguide_version {
  z-index: 5;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.heading-style-h5 {
  font-family: Passion One, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-medium {
  height: 2rem;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.overflow-scroll {
  overflow: scroll;
}

.form_message-error {
  margin-top: .75rem;
  padding: .75rem;
}

.icon-height-large {
  height: 3rem;
}

.text-align-center {
  text-align: center;
}

.form_component {
  margin-bottom: 0;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: var(--black);
  color: var(--peach-puff-2);
  text-align: center;
  border-radius: 10px;
  padding: .75rem 1.5rem;
  font-family: Passion One, sans-serif;
  font-weight: 700;
}

.button:hover {
  color: var(--burntsienna);
  background-color: #202020;
}

.button.is-text {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
}

.button.is-small {
  padding: .5rem 1.25rem;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #000;
  border-bottom-width: .125rem;
}

.button.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.fs-styleguide_classes {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-medium {
  font-size: 1.25rem;
}

.fs-styleguide_section {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: start;
  display: grid;
}

.fs-styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hide {
  display: none;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.form_radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.fs-styleguide_spacing-all {
  display: none;
}

.navigation-menu {
  align-content: space-between;
  justify-content: space-between;
  font-weight: 600;
  display: flex;
}

.navigation-button-wrapper {
  width: 11rem;
  flex: none;
  justify-content: flex-end;
  display: flex;
}

.navigation-logo {
  max-height: 3rem;
}

.navigation-dropdown-toggle {
  padding: .5rem 2.25rem .5rem 1rem;
}

.navigation-icon {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1rem;
}

.navigation-dropdown-list {
  background-color: #e9f0f1;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.navigation-dropdown-list.w--open {
  background-color: var(--peach-puff);
  background-image: linear-gradient(rgba(251, 195, 166, .6), rgba(251, 195, 166, .6)), url('../images/texture.jpg');
  background-position: 0 0, 0 0;
  background-size: auto, 200px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.navigation-link-wrapper {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.navigation-link {
  color: #0b0b1f;
  border: 1px #000;
  padding: .5rem 1rem;
  font-family: Passion One, sans-serif;
  font-weight: 400;
  text-decoration: none;
  transition: color .25s;
}

.navigation-link:hover {
  color: var(--peach-puff-2);
}

.navigation-link.w--current {
  color: #0b0b1f;
}

.navigation-link.w--current:hover {
  color: #302dd7;
}

.page-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.navigation-container {
  width: 100%;
  max-width: 80rem;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  grid-template-rows: auto;
  grid-template-columns: 11rem auto;
  grid-auto-columns: auto;
  justify-content: stretch;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.navigation-component {
  background-color: rgba(213, 132, 93, .7);
  background-image: linear-gradient(rgba(251, 195, 166, .6), rgba(251, 195, 166, .6)), url('../images/texture.jpg');
  background-position: 0 0, 0 0;
  background-size: auto, 200px;
  padding-top: .75rem;
  padding-bottom: .75rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navigation-logo-link {
  line-height: 0;
}

.navigation-menu-icon {
  line-height: 1;
}

.footer-component {
  background-color: rgba(0, 0, 0, 0);
}

.footer-link {
  color: var(--black);
  padding: .5rem 1rem;
  font-family: Passion One, sans-serif;
  font-weight: 700;
  text-decoration: none;
  transition: color .25s;
  display: inline-block;
}

.footer-link:hover {
  color: var(--burntsienna);
}

.footer-logo {
  max-height: 3rem;
  max-width: 200%;
}

.footer-nav-menu {
  text-align: center;
  font-weight: 600;
}

.footer-top {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.section-header-feature {
  align-items: flex-start;
  display: flex;
}

.section-header-icon-wrapper {
  flex: none;
  margin-right: 1.5rem;
}

.padding-bottom-2 {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.section-header-features-grid {
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
  grid-template-columns: 1fr;
}

.layout6_component {
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  align-items: center;
}

.section-header-text-wrapper {
  max-width: 22.5rem;
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
}

.icon_1x1-medium {
  width: 2rem;
  height: 2rem;
}

.section-header-image {
  object-fit: cover;
}

.heading {
  color: var(--black);
  font-family: Passion One, sans-serif;
}

.heading-2 {
  font-family: Passion One, sans-serif;
  font-size: 1.25rem;
}

.heading-3, .heading-4, .heading-5, .heading-6 {
  font-family: Passion One, sans-serif;
}

.text-block {
  color: var(--black);
  font-family: Passion One, sans-serif;
  font-weight: 400;
}

.text-block.text-color-white {
  color: var(--peach-puff-2);
  font-size: 1rem;
}

.body {
  background-color: var(--peach-puff);
  background-image: linear-gradient(rgba(251, 195, 166, .5), rgba(251, 195, 166, .5)), url('../images/texture.jpg');
  background-position: 0 0, 0 0;
  background-size: auto, 200px;
}

.div-block {
  width: 140px;
}

.testimonials-component {
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.testimonials-client {
  align-items: center;
  display: flex;
}

.testimonials-client-image-wrapper {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  overflow: hidden;
}

.layout21_client-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fs-styleguide_divider {
  height: 2rem;
  color: #fff;
  letter-spacing: .2rem;
  background-color: #000;
  justify-content: center;
  align-items: center;
  font-size: .6875rem;
  font-weight: 700;
  display: flex;
}

.layout-bobby-image {
  object-fit: cover;
}

.layout-bobby-image-wrapper {
  justify-content: center;
  align-items: center;
}

.quotations-mask {
  height: auto;
  margin-left: 4.75rem;
  margin-right: 4.75rem;
}

.quotations-logo {
  max-height: 2.5rem;
  line-height: 0;
}

.quotations-component {
  height: auto;
  background-color: rgba(221, 221, 221, 0);
  display: flex;
}

.quotations-slide {
  margin-bottom: 2.5rem;
}

.padding-section-large-2 {
  padding: 3rem 0;
}

.quotations-slide-nav {
  bottom: -.5rem;
}

.quotations-arrow {
  width: 1.15rem;
  font-size: 0;
  line-height: 0;
}

.quotations-arrow.is-rotated {
  transform: rotate(180deg);
}

.quotations-slide-left {
  align-items: center;
  display: flex;
}

.quotations-arrow-circle {
  width: 3.5rem;
  height: 3.5rem;
  color: #0b0b1f;
  border: .125rem solid #0b0b1f;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-size-large-2 {
  font-size: 1.5rem;
}

.quotations-slide-right {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.text-size-medium-2 {
  font-size: 1.25rem;
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-tablet {
    display: none;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .fs-styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .fs-styleguide_4-col {
    grid-template-columns: 1fr;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .navigation-menu {
    background-color: var(--burntsienna);
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    padding-top: .25rem;
    padding-bottom: .25rem;
  }

  .navigation-button-wrapper {
    width: auto;
    justify-content: flex-start;
    margin-top: .75rem;
    margin-bottom: 1rem;
    margin-left: 2.5rem;
  }

  .navigation-menu-button {
    margin-right: -.75rem;
    padding: .75rem;
  }

  .navigation-menu-button.w--open {
    color: #0b0b1f;
    background-color: rgba(200, 200, 200, 0);
  }

  .navigation-dropdown-toggle {
    padding-left: 2.5rem;
  }

  .navigation-icon {
    margin-right: 2.5rem;
  }

  .navigation-dropdown-list {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .navigation-link-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation-link {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: block;
  }

  .navigation-container {
    grid-template-rows: auto;
    grid-template-columns: auto max-content;
  }

  .navigation-logo-link {
    margin-right: auto;
  }

  .navigation-dropdown {
    width: 100%;
  }

  .footer-nav-menu {
    margin-left: 0;
    margin-right: 0;
    padding-top: .25rem;
    padding-bottom: .25rem;
  }

  .padding-bottom-2 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .fs-styleguide_heading-large {
    font-size: 3rem;
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .fs-styleguide_section-header {
    font-size: .875rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .heading-style-h4 {
    font-size: 1rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .heading-style-h6 {
    font-size: .75rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .fs-styleguide_version, .heading-style-h5 {
    font-size: .875rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .navigation-button-wrapper {
    margin-left: 1.25rem;
  }

  .navigation-dropdown-toggle {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .navigation-icon {
    margin-right: 1.25rem;
  }

  .navigation-link, .page-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .navigation-logo-link {
    padding-left: 0;
  }

  .padding-bottom-2 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .layout6_component, .testimonials-component {
    grid-template-columns: 1fr;
  }

  .quotations-mask {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .quotations-arrow-circle {
    width: 3rem;
    height: 3rem;
  }

  .text-size-large-2, .text-size-medium-2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .navigation-container {
    grid-template-columns: auto max-content;
  }

  .padding-bottom-2 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .text-block.text-color-white {
    font-size: .6rem;
  }

  .quotations-mask {
    z-index: 100;
    margin-left: 0;
    margin-right: 0;
  }

  .quotations-component {
    margin-bottom: 4rem;
  }

  .quotations-slide-left {
    width: 45%;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: -4rem;
  }

  .quotations-slide-right {
    width: 45%;
    justify-content: flex-start;
    align-items: flex-end;
    bottom: -4rem;
  }
}

#w-node-_411bf705-dbfe-713b-bd8a-46a8d7a30c7a-aadc722e {
  align-self: center;
  justify-self: end;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627ca17-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca1c-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca21-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca26-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca2c-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca32-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca38-1cdc7231 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb45-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb5e-1cdc7231 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb61-1cdc7231 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb63-1cdc7231 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb66-1cdc7231 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cbb8-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc2-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc3-1cdc7231 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc31-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc36-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc3b-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc40-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc45-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc4a-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc54-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc59-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc5e-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc63-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc68-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc6d-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc72-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc77-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc7c-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc81-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc86-1cdc7231 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8a-1cdc7231 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8b-1cdc7231 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8d-1cdc7231 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc90-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc95-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc9a-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccaf-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb4-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb9-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccbe-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc3-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc8-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd2-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd7-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccdc-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce1-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce6-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cceb-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf0-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf5-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccfa-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccff-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd04-1cdc7231 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd08-1cdc7231 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd09-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd0e-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd13-1cdc7231, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd18-1cdc7231 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd6b-1cdc7231 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cdc7-1cdc7231 {
  justify-self: start;
}


